---
// Usamos typescript uwu
const { time, name, profession, theme, img} = Astro.props;
---

<article class=`component1 w-full card-custom flex rounded-2xl px-10 py-7 gap-7 text-slate-400 mx-2`>
  <span class="font-bold text-5xl">{time}</span>
  <div class="">
    <p class="text-custom text-md">{name}<span class="text-gray-300"> - {profession}</span></p>
    <h4 class="font-bold text-xl text-slate-100">{theme}</h4>
  </div>
  <div>
    <img src=`${img}` alt="Foto perfil">
  </div>
</article>

<!-- <article class="component2 hidden w-full text-slate-400 mx-2">
  <header class="flex items-center gap-x-4">
    <h4 class="text-sm text-midu-primary">{name}</h4>
    <div class="flex-1 bg-white w-full h-[1px]"></div>
    <span class="text-sm text-white/50">{time}</span>
  </header>
  <div class="flex items-center mt-3 gap-x-3">
    <img class="object-cover object-center w-16 h-16 rounded-full" src={img} alt="Foto">
    <h5 class="flex-1 font-bold text-white">{theme}</h5>
  </div>
</article> -->

<!-- Poner mucho css con estilo uwu -->
<style>
.card-custom {
  background-color: rgba(255, 255, 255, 0.1);
}

.text-custom {
  color: rgb(0,153, 255) ;
}

/* @media (max-width: 770px) {
  .component1 {
    display: none;
  }
  .component2 {
    display: block;
  }
} */
</style>