---
import { useColorWithOpacity } from "../../../utilities/use-color-with-opacity";
import { Color } from "../../../models/colors";
import type Props from "../adapters/topicAdapter";
import { Image } from "astro:assets";

const { name, description, image1, image2 } : Props = Astro.props;
const color_card = Color.COLOR_TEXT_PRIMARY_ACTIVE;
const bg_primary = useColorWithOpacity(color_card, 0.4);
const topicName = name.length;
const translateProperty =
    topicName < 26
        ? "group-hover:translate-y-10"
        : "group-hover:translate-y-1/2";
---

<div
    style={{ backgroundColor: bg_primary }}
    class={`animation-view h-80 relative flex items-center justify-center py-5 transition-all duration-500 border-2 rounded-2xl group px-7 border-blue-500  cursor-pointer`}
>
    <p
        class={`absolute w-full text-2xl font-bold text-center text-white top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 max-w-[20ch] transition-all duration-500 z-[60] ${translateProperty} group-hover:text-lg`}
    >
        {name}
    </p>
    <p
        class="text-slate-100/85 translate-y-28 absolute text-center px-6 font-light text-sm opacity-0 group-hover:opacity-100 transition-opacity duration-700"
    >
        {description}
    </p>
    <div
        class="relative h-auto opacity-20 w-max rotate-6 z-50 blur-sm transition-all duration-700 group-hover:blur-none group-hover:-translate-y-[4.8rem] group-hover:opacity-100"
    >
        <Image
            src={image1}
            class="rounded-sm w-auto h-48 drop-shadow-gift border-2 border-white"
            alt={`Imagen principal sobre ${name}`}
        />
        <Image
            src={image2}
            class="rounded-sm h-24 w-auto drop-shadow-gift absolute -bottom-0.5 -right-2 border-2 border-white"
            alt={`Imagen secundaria sobre ${name}`}
        />
    </div>
</div>

<style>
    .animation-view {
        animation: topics both;
        animation-timeline: view();
        animation-range-start: cover 0%;
        animation-range-end: contain 40%;
    }

    @keyframes topics{
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
</style>