---
import anonimo from '../../../../public/speakers/anonimo.webp'
import { Image } from 'astro:assets';
import type Props from "../adapters/cardAdapter";
import FlagArgentina from '../../../../public/icons/flags/FlagArgentina.astro';

const { nameSpeaker = "Ponente por confirmar", rolSpeaker = "Sin descripción", link_image = anonimo, alt = "Ponente Anonimo" }: Props = Astro.props;
---
<!-- https://nelkodev.com/blog/uso-avanzado-de-la-etiqueta-html-img-para-multimedia/ revisar -->
<!-- https://nucleoapp.com/svg-flag-icons -->
<div class="m-auto animation-view">
    <article class="text-color w-72 p-4 rounded-[28px] active:bg-[#0e0e20] hover:scale-105 transition-transform border border-default relative">
        <div class="w-full">
            <figure class="w-full mb-2 overflow">
                <!-- <picture>
                    <source srcset="/url en avif" type="image/avif">
                    <source srcset="/url en webp" type="image/webp">
                    <img src="/url en el formato cualquiera" alt="" decoding="async" loading="lazy">
                </picture> -->
                <Image class="object-cover w-full aspect-square rounded-xl" src={link_image} alt={alt}></Image>
                <Image class="absolute blur-lg -z-10 block object-cover w-full aspect-square transition-all opacityImage bg-white rounded-[10px] top-0 lef-0 right-0" src={link_image} alt={alt}>
            </figure>
            <div class="relative">
                <h4 class="font-bold tracking-wider text-lg">
                    {nameSpeaker}
                </h4>
                <div class="flex-wrap max-w-52">
                    <p class="break-words text-sm text-color-secondary">{rolSpeaker}</p>
                </div>
                <div class="flex items-center absolute right-0 bottom-0 top-0">
                    <FlagArgentina slot="icon" />
                </div>
            </div>
        </div>
    </article>
</div>

<style>
    .text-color {
        color: var(--color-text-secondary-default);
    }

    .text-color-secondary {
        color: var(--color-text-secondary-active)
    }
    .opacityImage {
        opacity: 0.4;
    }

    .border-default {
        border-color: var(--color-border-primary-default);
    }

    .border-default:hover {
        border-color: var(--color-border-primary-hover);
    }

    .border-default:active {
        border-color: var(--color-border-primary-active);
    }

    .bg-active {
        background-color: transparent;
    }

    .bg-active:active {
        background-color: var(--color-bg-surface-primary-active);
    }

    article:hover img.opacityImage {
        opacity: 0.6;
    }

    .animation-view {
        animation: portfolio both;
        animation-timeline: view();
        animation-range-start: cover 0%;
        animation-range-end: contain 40%;
    }

    @keyframes portfolio {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
</style>