---
import CardPonent from "./components/CardPonent.astro"
import data from "../schedules/services/data"

const styleButton = "px-6 py-2 rounded-lg cursor-pointer card-custom"
const dayTitle = "text-center text-xl font-bold mb-4 text-blue-500"
---

<section class="carrucel-custom flex flex-col justify-center items-center mb-24 mx-auto mt-40">
  <h2 class="text-4xl font-bold text-center text-secondary sm:text-6xl slide-top">
    Cronograma
  </h2>
  <p class="text-center text-base mb-8 mt-8">Todas las charlas estan en directo gracias a JohnArDev</p>
  <div class="w-full flex justify-around mb-5">
    <a class={styleButton} href="#item-1">Lunes</a> 
    <a class={styleButton} href="#item-2">Martes</a> 
    <a class={styleButton} href="#item-3">Miercoles</a> 
    <a class={styleButton} href="#item-4">Jueves</a> 
    <a class={styleButton} href="#item-5">Viernes</a> 
  </div>
  <!-- Carrusel con scroll horizontal -->
  <div class="w-full overflow-hidden scroll-smooth scroll-mx-12 flex justify-around gap-12 rounded-2xl">
    <div id="item-1" class="w-full relative flex-shrink-0 flex flex-col items-center justify-center rounded-2xl">
      <h3 class={dayTitle}>Lunes</h3>
      {data.map((ponente) => {
        if (ponente.day === 'lunes') {
          return (
            <CardPonent 
              time={ponente.time}
              name={ponente.name}
              profession={ponente.profession}
              theme={ponente.theme}
              img={ponente.img}
            />
          );
        }
      })}
    </div>
    
    <div id="item-2" class="w-full flex-shrink-0 relative flex flex-col items-center justify-center rounded-2xl">
      <h3 class={dayTitle}>Martes</h3>
      {data.map((ponente) => {
        if (ponente.day === 'martes') {
          return (
            <CardPonent 
              time={ponente.time}
              name={ponente.name}
              profession={ponente.profession}
              theme={ponente.theme}
              img={ponente.img}
            />
          );
        }
      })}
    </div>
  </div>

</section>

<!-- Poner mucho css con estilo uwu -->
<style>
  .carrucel-custom {
    width: 650px;
  }
  .card-custom {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .card-custom:hover {
    background-color: #3235ff
  }
</style>a